<!DOCTYPE html>
<html lang="fr">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Diapyr</title>
	<link rel="stylesheet" href="home.css">
</head>
<body>
<header>
	<h1>Bienvenue dans Diapyr !</h1>
	<nav>
		<ul>
			<li><a href="">Liste des débats</a></li>
			<li><a href="">Créer un débat</a></li>
		</ul>
	</nav>	
</header>
{% block content %}
<main>
	<div class="Main-link">
		<p> Liste des débats</p>

	</div>
</main>
{% endblock  %}
<footer>
	<p>&copy; 2025 Association sportive de Galilée. Tous droits réservés.</p>
</footer>
</body>
</html>